html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    margin: 0px;
}

ul {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    position: absolute;
    top: 360px;
    left: 260px;
}

li {
    font-weight: bold;
    font-family: 'Finger Paint';
    font-size: 150%;
    padding-left: 20px;
}

#Lorem-Ipsum {
    font-size: 140%;
    } 

@media only screen and (max-width: 1150px) {
li {
    font-weight: bold;
    font-family: 'Finger Paint';
    font-size: 100%;
    padding-left: 20px;
    }

#Lorem-Ipsum {
    font-size: 75%;
    }

#elecMicro {
    display: none;
    }  

#elecHdmi {
    display: none;
    }

#elecEport {
    display: none;
    }

#elecUSB {
    display: none;
    }

#elecCpu {
    display: none;
    }  
      
iframe {
    display: none;
    }

#transformers {
    display: none;
}

}   

@media only screen and (max-width: 900px) {
    li {
        font-weight: bold;
        font-family: 'Finger Paint';
        font-size: 70%;
        padding-left: 20px;
        }

     ul {
        display: flex;
        flex-shrink: inherit;
        left: 150px;
        }    

    #Lorem-Ipsum {
        font-size: 40%;
        } 
    } 

@media only screen and (max-width: 600px) {
    li {
        font-weight: bold;
        font-family: 'Finger Paint';
        font-size: 20%;
        }

    ul {
        padding: 30px 0px 90px 0px;
        display: flex;
        flex-shrink: inherit;
        left: 80px;
        }

    body {
        font-size: 15%;
        }

    #Lorem-Ipsum {
        font-size: 1%;
        }
}


li:hover { 
    font-weight: bold;
}

a:hover {
    color: red;
}

#transformers {
    position: absolute;
    top: 46px;
    left: 94px;
}

#lightningLeft {
    position: absolute;
    top: 170px;
    left: -20px;
    pointer-events: none;
    transform: rotate(90deg);
    opacity: 0;
}

#lightningRight {
    position: absolute;
    top: -255px;
    right: -20px;
    pointer-events: none;
    transform: rotate(90deg);
    opacity: 0;
}

#elec {
    position: absolute;
    top: 78px;
    left: 174px;
    pointer-events: none;
}

#elec2 {
    position: absolute;
    top: 114px;
    right: -70px;
    pointer-events: none; 
}

#elec3 {
    position: absolute;
    top: 214px;
    right: -70px;
    pointer-events: none; 
}

#elec4 {
    position: absolute;
    top: -10px;
    right: -110px;
    pointer-events: none; 
}

#elec5 {
    position: absolute;
    top: 240px;
    left: 163px;
    pointer-events: none; 
    transform: rotate(90deg);
}

#elec6 {
    position: absolute;
    top: 240px;
    left: 325px;
    pointer-events: none; 
    transform: rotate(90deg);
}

#elec7 {
    position: absolute;
    top: 278px;
    left: -38px;
    pointer-events: none; 
}

#elec8 {
    position: absolute;
    top: 120px;
    right: 310px;
    pointer-events: none; 
    transform: rotate(90deg);
}

#cpu {
    position: absolute;
    top: 117px;
    left: 307px;
    font-family: 'Press Start 2P', cursive;
    font-size: 6px;
    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 130px;
    padding: 12px;   
}

#usb1 {
    position: absolute;
    top: 143px;
    right: 70px;
    font-family: 'Press Start 2P', cursive;
    font-size: 6px;
    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 130px;
    padding: 24px 24px 24px 24px;
}

#usb2 {
    position: absolute;
    top: 248px;
    right: 70px;
    font-family: 'Press Start 2P', cursive;
    font-size: 6px;
    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 130px;
    padding: 24px 24px 24px 24px;
}

#hdmi1 {
    position: absolute;
    top: 291px;
    left: 308px;
    font-family: 'Press Start 2P', cursive;
    font-size: 6px;
    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 60px;
    padding: 18px 9px 18px 9px;   
}

#hdmi2 {
    position: absolute;
    top: 291px;
    left: 469px;
    font-family: 'Press Start 2P', cursive;
    font-size: 6px;
    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 60px;
    padding: 18px 9px 18px 9px;    
}

#eport {
    position: absolute;
    top: 21px;
    right: 60px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 160px;
    padding: 35px 30px 35px 30px;
}

#audioJack {
    position: absolute;
    top: 261px;
    right: 460px;
    font-family: 'Press Start 2P', cursive;
    font-size: 6px;
    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 50px;
    padding: 20px 12px 20px 12px;   
}

#micro {
    position: absolute;
    top: 303px;
    left: 115px;
    font-family: 'Press Start 2P', cursive;
    font-size: 6px;
    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 300px;
    padding: 11px 25px 11px 25px;   
}

#elecEport {
    opacity: 0;
}

#elecEport:hover {
    opacity: 1;
}

#elecMicro {
    opacity: 0;
}

#elecMicro:hover {
    opacity: 1;
}

#elecHdmi {
    opacity: 0;
}

#elecHdmi:hover {
    opacity: 1;
}

#elecCpu {
    opacity: 0;
}

#elecCpu:hover{
    opacity: 1;
}

#elecUSB {
    opacity: 0;
}

#elecUSB:hover {
    opacity: 1;
}

#elecAudioJack {
    opacity: 0;
}

#elecAudioJack:hover {
    opacity: 1;
}


#Lorem-Ipsum {
    word-spacing: 2px;
    font-family: 'Roboto Mono', monospace;
}

h2 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

#gridArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 40px;
    justify-items: center;
}

#ubuntu {
    width: 150px;
    height: 150px;
}

#flipArea1 {
    width: 150px;
    height: 150px;
    display: grid;
}

#ubuntuCard {
    position: relative;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    perspective: 600px;
}

#ubuntuCard:hover {
    transform: rotateY(180deg);
}

#ubuntuFront {
    display: inline;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#ubuntuBack {
    display: inline;
    background: rgb(214, 231, 135) ;
    transform: rotateY(-180deg);
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

h6 {
    top: 0px;
    font-family: 'finger paint';
}

#osmc {
    width: 150px;
    height: 150px;
}

#flipArea2 {
    width: 150px;
    height: 150px;
    display: grid;

}

#osmcCard {
    position: relative;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    perspective: 600px;
}

#osmcCard:hover {
    transform: rotateY(180deg);
}

#osmcFront {
    display: inline;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#osmcBack {
    display: inline;
    background: rgb(214, 231, 135) ;
    transform: rotateY(-180deg);
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

h6 {
    top: 0px;
    font-family: 'finger paint';
}

#libre {
    width: 150px;
    height: 150px;
}

#flipArea3 {
    width: 150px;
    height: 150px;
    display: grid;
}

#libreCard {
    position: relative;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    perspective: 600px;
}

#libreCard:hover {
    transform: rotateY(180deg);
}

#libreFront {
    display: inline;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#libreBack {
    display: inline;
    background: rgb(214, 231, 135) ;
    transform: rotateY(-180deg);
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}


#mozillaWT {
    width: 150px;
    height: 150px;
}

#flipArea4 {
    width: 150px;
    height: 150px;
    display: grid;
}

#mozillaCard {
    position: relative;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    perspective: 600px;
}

#mozillaCard:hover {
    transform: rotateY(180deg);
}

#mozillaFront {
    display: inline;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#mozillaBack {
    display: inline;
    background: rgb(214, 231, 135) ;
    transform: rotateY(-180deg);
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}


#piNET {
    width: 150px;
    height: 150px;
}

#flipArea5 {
    width: 150px;
    height: 150px;
    display: grid;
}

#piNETCard {
    position: relative;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    perspective: 600px;
}

#piNETCard:hover {
    transform: rotateY(180deg);
}

#piNETFront {
    display: inline;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#piNETBack {
    display: inline;
    background: rgb(214, 231, 135) ;
    transform: rotateY(-180deg);
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#riscOS {
    width: 150px;
    height: 150px;
}

#flipArea6 {
    width: 150px;
    height: 150px;
    display: grid;
}

#riscOSCard {
    position: relative;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    perspective: 600px;
}

#riscOSCard:hover {
    transform: rotateY(180deg);
}

#riscOSFront {
    display: inline;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#riscOSBack {
    display: inline;
    background: rgb(214, 231, 135) ;
    transform: rotateY(-180deg);
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#ichigoJ {
    width: 150px;
    height: 150px;
}

#flipArea7 {
    width: 150px;
    height: 150px;
    display: grid;
}

#ichigoJCard {
    position: relative;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    perspective: 600px;
}

#ichigoJCard:hover {
    transform: rotateY(180deg);
}

#ichigoJFront {
    display: inline;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#ichigoJBack {
    display: inline;
    background: rgb(214, 231, 135) ;
    transform: rotateY(-180deg);
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#weatherS {
    width: 150px;
    height: 150px;
}

#flipArea8 {
    width: 150px;
    height: 150px;
    display: grid;
}

#weatherSCard {
    position: relative;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    perspective: 600px;
}

#weatherSCard:hover {
    transform: rotateY(180deg);
}

#weatherSFront {
    display: inline;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#weatherSBack {
    display: inline;
    background: rgb(214, 231, 135) ;
    transform: rotateY(-180deg);
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#noobs {
    width: 150px;
    height: 150px;
}

#flipArea9 {
    width: 150px;
    height: 150px;
    display: grid;
}

#noobsCard {
    position: relative;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    perspective: 600px;
}

#noobsCard:hover {
    transform: rotateY(180deg);
}

#noobsFront {
    display: inline;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

#noobsBack {
    display: inline;
    background: rgb(214, 231, 135) ;
    transform: rotateY(-180deg);
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.cardText {
    font-size: 14px;
}

#Rasp-pi {
    width: 100%;
    height: 350px;
    position: relative;
}

#circuit {
    width: 100%;
    height: 75px;
    top: 0;
}

#mergeImages {
    font-size: 0;
    position: fixed;
    position: relative;
}

#leftColumn {
    background-color: #cfc ;
    display: flex;
    border: 1px solid green ;
    border-right: 20px solid green;
    float: left;
    height: 100%;
    width: 20%;
    padding-bottom: 65%; 
    background: linear-gradient(90deg, rgb(255, 204, 204), yellow, green);
    margin-right: 20px;
}

#rightColumn {
    background-color: #cfc ;
    display: flex;
    border: 1px solid green ;
    border-left: 20px solid green;
    float: right;
    height: 100%;
    width: 20%;
    padding-bottom: 65%;
    background: linear-gradient(90deg, green, yellow, rgb(255, 204, 204));
    margin-left: 20px;
    position: relative;
}